body {
	
}

.main {
	margin: 0 auto;
	max-width: 640px;
}

a { text-decoration: none; color: #069 }
a:hover { text-decoration: underline }

table {
	background-color: #ffffff; 
	border: 1px solid #ccc; 
	border-collapse: collapse; 
}

td {
	vertical-align: top;
	background-color: #fafafa; 
	border: 1px solid #ccc; 
	padding: 5px; 
}

tr {
	border: 1px solid #ccc; 
}

th {
	background-color: #f0f0f0; 
	border: 1px solid #ccc; 
	padding: 4px; 
}

.tab { }
.tab-active { font-weight: bold }

.type_0 { color: red }
.type_1 {color: green }

.type_0 td { background-color: #F5E9E9 }
.type_1 td { background-color: #E5F6EB }

.bottom_sep td {
	border-bottom-width: 2px
}