# Запускаем демон загрузки сразу после старта сервера
@reboot php {project}/www/index.php Smm/Task/Downloader --anticaptcha=1 >> {project}/logs/cron_grabber_downloader.log 2>&1

# На случай, если демон упал, пробуем его запустить раз в 10 минут (если уже запущен, то ничего не произойдёт)
*/10 * * * * php {project}/www/index.php Smm/Task/Downloader --anticaptcha=1 >> {project}/logs/cron_grabber_downloader.log 2>&1

# Щедулер постов - ставит несколько постов в очередь из пула
* * * * * php {project}/www/index.php Smm/Task/Scheduler --anticaptcha=1 --from_cron=1 >> {project}/logs/cron_posts_sched.log 2>&1

# Синхронизация Telegram канала и основного паблика в ВК
*/15 * * * * php {project}/www/index.php Smm/Task/VkToTelegram >> {project}/logs/cron_vk_to_telegram.log 2>&1

# Агрегатор контента (из инсты/вк и др.)
*/15 * * * * php {project}/www/index.php Smm/Task/Grabber >> {project}/logs/cron_grabber.log 2>&1

# Подсчёт оплаты за услуги SMM (рудимент)
# 0 * * * * php {project}/www/index.php Smm/Task/CalcSmmMoney >> {project}/logs/cron_money.log 2>&1

# Лог участников (кто ушёл, пришёл)
*/10 * * * * php {project}/www/index.php Smm/Task/LogMembers >> {project}/logs/cron_members.log 2>&1

# Сбора статистики по лайкам
*/5 * * * * php {project}/www/index.php Smm/Task/GroupActivity --mode=likes >> {project}/logs/groups_activity_likes.log 2>&1

# Агрегация статистики
* * * * * php {project}/www/index.php Smm/Task/GroupActivity --mode=aggregation >> {project}/logs/groups_activity_aggregation.log 2>&1

# Сбор старой статистики
*/30 * * * * php {project}/www/index.php Smm/Task/GroupActivity --mode=archive >> {project}/logs/groups_activity_archive.log 2>&1
