# Демон загрузки
@reboot php {project}/www/index.php Smm/Task/Downloader --anticaptcha=1 >> {project}/logs/cron_grabber_downloader.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/Downloader --anticaptcha=1 >> {project}/logs/cron_grabber_downloader.log 2>&1

# Демон поиска дублей
@reboot php {project}/www/index.php Smm/Task/DuplicateFinder >> {project}/logs/duplicate_finder.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/DuplicateFinder >> {project}/logs/duplicate_finder.log 2>&1

# Щедулер постов - ставит несколько постов в очередь из пула
* * * * * php {project}/www/index.php Smm/Task/Scheduler --anticaptcha=1 --from_cron=1 >> {project}/logs/cron_posts_sched.log 2>&1

# Щедулер комментов к постам - добавляем первые комментарии к постам
* * * * * php {project}/www/index.php Smm/Task/AutoCommentator --anticaptcha=1 >> {project}/logs/auto_commentator.log 2>&1

# Контроль демонов
* * * * * php {project}/www/index.php Smm/Task/Control >> {project}/logs/control.log 2>&1

# Синхронизация Telegram канала и основного паблика в ВК
*/15 * * * * php {project}/www/index.php Smm/Task/VkToTelegram >> {project}/logs/cron_vk_to_telegram.log 2>&1

# Агрегатор контента (из инсты/вк и др.)
*/15 * * * * php {project}/www/index.php Smm/Task/Grabber/VK >> {project}/logs/cron_grabber.VK.log 2>&1
*/15 * * * * php {project}/www/index.php Smm/Task/Grabber/Pinterest >> {project}/logs/cron_grabber.PINTEREST.log 2>&1
*/15 * * * * php {project}/www/index.php Smm/Task/Grabber/Instagram >> {project}/logs/cron_grabber.INSTAGRAM.log 2>&1
*/15 * * * * php {project}/www/index.php Smm/Task/Grabber/Tumblr >> {project}/logs/cron_grabber.TUMBLR.log 2>&1

# Лог участников (кто ушёл, пришёл)
#*/10 * * * * php {project}/www/index.php Smm/Task/LogMembers >> {project}/logs/cron_members.log 2>&1

# Сбор статистики
#*/10 * * * * php {project}/www/index.php Smm/Task/GroupActivityGrabber >> {project}/logs/groups_activity_grabber.log 2>&1

# Агрегация статистики
#*/10 * * * * php {project}/www/index.php Smm/Task/GroupActivityAggregator >> {project}/logs/groups_activity_aggregator.log 2>&1

# Обновление виджета
#* * * * * php {project}/www/index.php Smm/Task/VkWidgets >> {project}/logs/vk_widgets.log 2>&1

# Лог полностью удалённых юзеров
#0 0 * * * php {project}/www/index.php Smm/Task/LogDeletedMembers >> {project}/logs/log_deleted_members.log 2>&1

# Бот-котификатор
* * * * * php {project}/www/index.php Smm/Task/CatificatorVolumeTester >> {project}/logs/catificator_volume_tester.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=0 >> {project}/logs/catificator.0.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=1 >> {project}/logs/catificator.1.log 2>&1
