# Запускаем демон загрузки сразу после старта сервера
@reboot php {project}/www/index.php Smm/Task/Downloader --anticaptcha=1 >> {project}/logs/cron_grabber_downloader.log 2>&1

# На случай, если демон упал, пробуем его запустить раз в 10 минут (если уже запущен, то ничего не произойдёт)
*/10 * * * * php {project}/www/index.php Smm/Task/Downloader --anticaptcha=1 >> {project}/logs/cron_grabber_downloader.log 2>&1

# Щедулер постов - ставит несколько постов в очередь из пула
* * * * * php {project}/www/index.php Smm/Task/Scheduler --anticaptcha=1 --from_cron=1 >> {project}/logs/cron_posts_sched.log 2>&1

# Щедулер комментов к постам - добавляем первые комментарии к постам
* * * * * php {project}/www/index.php Smm/Task/AutoCommentator --anticaptcha=1 >> {project}/logs/auto_commentator.log 2>&1

# Синхронизация Telegram канала и основного паблика в ВК
*/15 * * * * php {project}/www/index.php Smm/Task/VkToTelegram >> {project}/logs/cron_vk_to_telegram.log 2>&1

# Агрегатор контента (из инсты/вк и др.)
*/15 * * * * php {project}/www/index.php Smm/Task/Grabber >> {project}/logs/cron_grabber.log 2>&1

# Подсчёт оплаты за услуги SMM (рудимент)
# 0 * * * * php {project}/www/index.php Smm/Task/CalcSmmMoney >> {project}/logs/cron_money.log 2>&1

# Лог участников (кто ушёл, пришёл)
*/10 * * * * php {project}/www/index.php Smm/Task/LogMembers >> {project}/logs/cron_members.log 2>&1

# Сбор статистики
*/10 * * * * php {project}/www/index.php Smm/Task/GroupActivityGrabber >> {project}/logs/groups_activity_grabber.log 2>&1

# Сбор статистики по лайкам
*/10 * * * * php {project}/www/index.php Smm/Task/GroupActivity --mode=likes >> {project}/logs/groups_activity_likes.log 2>&1

# Агрегация статистики
* * * * * php {project}/www/index.php Smm/Task/GroupActivity --mode=aggregation >> {project}/logs/groups_activity_aggregation.log 2>&1

# Сбор старой статистики
# */30 * * * * php {project}/www/index.php Smm/Task/GroupActivity --mode=archive >> {project}/logs/groups_activity_archive.log 2>&1

# Обновление виджета
* * * * * php {project}/www/index.php Smm/Task/VkWidgets >> {project}/logs/vk_widgets.log 2>&1

# Лог полностью удалённых юзеров
0 0 * * * php {project}/www/index.php Smm/Task/LogDeletedMembers >> {project}/logs/log_deleted_members.log 2>&1

# Бот-котификатор
* * * * * php {project}/www/index.php Smm/Task/CatificatorVolumeTester >> {project}/logs/catificator_volume_tester.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=0 >> {project}/logs/catificator.0.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=1 >> {project}/logs/catificator.1.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=2 >> {project}/logs/catificator.2.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=3 >> {project}/logs/catificator.3.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=4 >> {project}/logs/catificator.4.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=5 >> {project}/logs/catificator.5.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=6 >> {project}/logs/catificator.6.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=7 >> {project}/logs/catificator.7.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=8 >> {project}/logs/catificator.8.log 2>&1
* * * * * php {project}/www/index.php Smm/Task/CatificatorBot --instance=9 >> {project}/logs/catificator.9.log 2>&1
